#root {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(40deg, #7303c0, #00b09b, #96c93d);
}

* {
  font-family: Verdana, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

/* AIO APPS */

.aio-app {
  width: 350px;
  background: linear-gradient(40deg, #7303c0, #ec38bc);
  color: whitesmoke;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.16),
    0 5px 10px 5px rgba(0, 0, 0, 0.12);
  margin: 100px auto 20px;
  padding: 30px 30px 20px;
  border-radius: 15px;
}

.aio-app h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: default;
}

.aio-app h3 {
  text-align: center;
  margin: 30px;
  cursor: default;
}

.aio-app img {
  width: 100%;
  height: inherit;
  cursor: default;
  object-fit: contain;
}

.score > div {
  width: 290px;
  height: 290px;
}

.select-btn {
  background: transparent;
  width: 70px !important;
  height: 70px !important;
}

.game-btns {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 30px 0;
}

.custom-btn,
.select-btn {
  border: none;
  width: 120px;
  height: 60px;
  background-color: #00b09b;
  color: whitesmoke;
  font-size: 28px;
  cursor: default;
  border-radius: 15px;
  transition: all 0.3s;
}
.custom-btn:hover,
.select-btn:hover {
  background: coral;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.16),
    0 3px 5px 3px rgba(0, 0, 0, 0.12);
}

.custom-btn:active,
.select-btn:active {
  background-color: #2ab6a6;
  opacity: 0.7;
  box-shadow: unset;
  transition: unset;
}

.spin-btn {
  background: rgb(38, 150, 38);
}

.reset-btn {
  background: rgb(255, 51, 51);
}
